{% extends "projectDetail.html" %}
{% block content %}
	<h2>Scholarship Application</h2>
	<div id="slideshow">
		<ul>
			<li>
				<img src="/images/MyHomePage-Applicant.jpg" title="Home Page View for an Applicant before submitting" />
			</li>    
			<li>
				<img src="/images/ApplicantHome2.jpg" title="Home Page View for an Applicant after submitting" />
			</li>    
			<li>           
				<img src="/images/ApplicationAwards.jpg" title="Form for submitting academic and extracurricular activities" />
			</li>
			<li>           
				<img src="/images/ApplicationParents.jpg" title="Form for submitting information about parents and family" />
			</li>
			<li>           
				<img src="/images/ApplicationSignature.jpg" title="Form for signing and submitting the application" />
			</li>
			<li>           
				<img src="/images/ApplicantSearch.jpg" title="Search tool for Staff to find and edit applicant information" />
			</li>			
		</ul>
	</div>
	<h3>Details</h3>
	<p>In 2011, the Evans Scholarship Application went online. To make this possible using our CMS, we had to make some modifications. We added about 200 custom fields to the database, created 8 custom forms, and then built out a tool for our staff to search, review and award scholarships from the front-end of the website. It's actually worked quite well and has survived three application seasons.</p>
	<p>When an applicant begins the process, they first create a username and password. They are then presented with a home screen and links to 8 different forms. They can fill out the forms, save, and return as often as they want until they fill out the last form to "sign" and submit. At that point they are flagged as complete and when they login, their home screen has changed to a status screen. As the staff reviews and updates information, the applicant can see the real-time status.</p>
	<p>From the staff perspective, they can search and filter all the applicants right on our website. There are forms in case any information needs to be edited (updated ACT score) and forms to update the application status. It's probably not the most user friendly process, but it works well as a paperless alternative. Having access to the applicant information from anywhere has proven to be very useful.</p>
{% endblock %}