{% extends "projectDetail.html" %}
{% block content %}
	<h2>Career Postings & Events Calendar</h2>
	<div id="slideshow">
		<ul>
			<li>
				<img src="/images/EventListings.jpg" title="List of upcoming events" />
			</li>    
			<li>
				<img src="/images/EventDetail.jpg" title="Detail view of an event" />
			</li>    
			<li>           
				<img src="/images/EventForm.jpg" title="Form for posting new events" />
			</li>
			<li>           
				<img src="/images/CareerListings.jpg" title="List of current job postings" />
			</li>		
			<li>           
				<img src="/images/CareerDetail.jpg" title="Detail view of a job posting" />
			</li>
			<li>           
				<img src="/images/CareerForm.jpg" title="Form for posting new career opportunities" />
			</li>			
		</ul>
	</div>
	<h3>Details</h3>
	<p>When we launched our new website, we wanted to be able to give our volunteers and Alumni new tools and resources. We had been listing upcoming events and career opportunities before, but now we had the ability to expand them so much further.</p>
	<p>For events, we gave them the option to use our registration forms. Now they could easily collect money and track attendees. For both careers and events, we created forms to capture all the pertinent information. Our volunteers could now easily fill out the forms on their own, freeing up staff time and allowing us to create a more styled template that we wouldn't have to code by hand for each new posting.</p>
{% endblock %}