{% extends "projectDetail.html" %}
{% block content %}
	<h2>IOU Mobile UI Project</h2>
	<iframe src="//player.vimeo.com/video/24533623?title=0&amp;byline=0&amp;portrait=0" width="600" height="443" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	<h3>Details</h3>
	<p>One of the last classes I took for my Master's was Usability Engineering. This was a great introduction to human centered design and usability testing. Our main project was to work together as a group to develop, design, test, and pitch a new mobile app. The video above is our final pitch for IOU Mobile.</p>
{% endblock %}