{% extends "base.html" %}
{% block body %}
	<article id="portfolio">
		<h2>Portfolio</h2>
		<p>I've spent most of my technological career learning the languages of the web - HTML, CSS, and JavaScript/JQuery. The projects below were all built using a content management system and these languages. By combining the already built in functions with JavaScript, I could make the CMS do more than it was meant to do. As I continue to learn more about backend programming, I'm noticing more efficient ways to create the same results.</p>
		
		<div class="projectBox">
			<a href="/portfolio/1001">
			<div class="projectThumb"><img src="/images/MyHomePageThumb.jpg" /></div>
			<h3>Dynamic Login Home Page</h3>
			<div class="projectSummary"><p>Using our content management system (CMS) I created a dynamic landing page for all our constituents after they login.</p></div>
			</a>
		</div>
		
		<div class="projectBox">
			<a href="/portfolio/1002">
			<div class="projectThumb"><img src="/images/ApplicationThumb.jpg" /></div>
			<h3>Scholarship Application</h3>
			<div class="projectSummary"><p>Combining web forms, login accounts, and dynamic content I was able to create an online scholarship application.</p></div>
			</a>
		</div>
		
		<div class="projectBox">
			<a href="/portfolio/1003">	
			<div class="projectThumb"><img src="/images/MyProfileThumb.jpg" /></div>
			<h3>Personal Profile</h3>
			<div class="projectSummary"><p>After logging in, users can view and edit the personal information we have for them on file.</p></div>
			</a>
		</div>
		
		<div class="projectBox">
			<a href="/portfolio/1004">
			<div class="projectThumb"><img src="/images/CareerNetworkThumb.jpg" /></div>
			<h3>Career Postings & Events Calendar</h3>
			<div class="projectSummary"><p>Using forms and dynamic templates, new web pages could be easily created and displayed online.</p></div>
			</a>
		</div>
		
		<div class="projectBox">
			<a href="/portfolio/1005">
			<div class="projectThumb"><img src="/images/MobileSiteThumb.jpg" /></div>
			<h3>Mobile Optimized Website</h3>
			<div class="projectSummary"><p>Using parent/child relationships and CSS, I created a mobile optimized website using content from our main site.</p></div>
			</a>
		</div>
		
		<div class="projectBox">
			<a href="/portfolio/1006">
			<div class="projectThumb"><img src="/images/iouMobileThumb.jpg" /></div>
			<h3>iOU Mobile Usability Project</h3>
			<div class="projectSummary"><p>Group project from my Usability Engineering class at DePaul.</p></div>
			</a>
		</div>
		
	</article>
{% endblock %}