{% extends "base.html" %}
{% block body %}
<article id="tic-tac-toe">
<h2>Tic-Tac-Toe</h2>
<p>Try to beat the computer in a game of Tic-Tac-Toe. When it's your turn, select an open cell.</p>
<div id="alert"></div>
<div id="currentPlayer"></div>
<table id="gameBoard" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td id="1-1" class="gameCell">&nbsp;</td>
    <td id="1-2" class="gameCell midCol">&nbsp;</td>
    <td id="1-3" class="gameCell">&nbsp;</td>
  </tr>
  <tr>
    <td id="2-1" class="gameCell midRow">&nbsp;</td>
    <td id="2-2" class="gameCell midRow midCol">&nbsp;</td>
    <td id="2-3" class="gameCell midRow">&nbsp;</td>
  </tr>
  <tr>
    <td id="3-1" class="gameCell">&nbsp;</td>
    <td id="3-2" class="gameCell midCol">&nbsp;</td>
    <td id="3-3" class="gameCell">&nbsp;</td>
  </tr>
</table>
<div id="winnerBox">
	<div id="winner"></div>
	<input id="newGame" type="submit" value="New Game" />
</div>
<div class="lightbox"></div>
<script type="text/javascript" src="/js/ai-tic-tac-toe.js"></script>
</article>
{% endblock %}
